<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login | HealthLife</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
</head>
<body">
	<div class="container">

		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<form class="login100-form validate-form" method="POST">
						<span class="login100-form-title p-b-43">
							Bem vindo a HeathLife
						</span>


						<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
							<input class="input100" id="email" type="email" autocomplete="off" name="email" required>
							<span class="focus-input100"></span>
							<span class="label-input100">Email</span>
						</div>


						<div class="wrap-input100 validate-input" data-validate="Password is required">
							<input class="input100" type="password" id="password" autocomplete="off" name="pass" required>
							<span class="focus-input100"></span>
							<span class="label-input100">Senha</span>
						</div>


						<div class="container-login100-form-btn">
							<button type="submit" onclick="loginUser(event, 'profissional')" id="submit"
								class="login100-form-btn btn-outline-success">
								Logar como Profissional
							</button>
							<button style="margin-top: 20px;" type="submit" onclick="loginUser(event,'paciente')" id="submit"
								class="login100-form-btn btn-outline-success">
								Logar como Paciente
							</button>
							<a href="../CadastroProfissional/Cadastro.html" class="login100-form-btn btn-outline-success cadastrar">
								Cadastrar Profissional
							</a>
							<a href="../CadastroPaciente/Cadastro.html" class="login100-form-btn btn-outline-success cadastrar">
								Cadastrar Paciente
							</a>
						</div>
						<div class="messageReturn" id="messageReturn">
							<p class="successTxt" id="endMessage"></p>
						</div>
					</form>

					<div class="login100-more"
						style="background-image: url('../imagens/medico-trabalhando-no-hospital-assistencia-medica-e-medica_31965-1053.jpg');">
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="vendor/select2/select2.min.js"></script>
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<script src="vendor/countdowntime/countdowntime.js"></script>
	<script src="js/main.js"></script>
	<script src="js/login.js"></script>
	</body>

</html>