.main-center{
   
    margin-top: 45px;
    padding: 15px;
}

.main-center h2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
}

.errorTxt {
    color: #8d230f;
}

.successTxt {
    color: #0f8d23;
}




