<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="cadastro.css">

    <title>Cadastro | HealthLife</title>
</head>

<body>

    <div class="container">
        <main class="main-center">
            <h2>Por Favor Insira os seu dados</h2>
            <form method="POST" action="cadastroDeUsuario">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputNome">Nome</label>
                        <input type="text" class="form-control" id="nome" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputSobrenome">Sobrenome</label>
                        <input type="text" class="form-control" id="sobrenome" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCPF">CPF</label>
                        <input minlength="11" maxlength="11" type="number" class="form-control" id="cpf" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputIdade">Idade</label>
                        <input type="number" class="form-control" id="idade" min="18" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email para login</label>
                        <input type="email" class="form-control" id="login" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Senha</label>
                        <input type="password" class="form-control" id="senha" required>
                    </div>
                </div>
                <button type="submit" id="myBtn" onclick="cadastrar(event)"
                    class="btn btn-outline-success">Cadastrar</button>
            </form>
        </main>
        <div class="messageReturn" id="messageReturn">
            <center>
                <p class="errorTxt" id="endMessage"></p>
            </center>
        </div>
    </div>

    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="#"> HealthLife</a>
        </div>
    </footer>

    <script src="js/cadastrar.js"></script>
</body>

</html>